@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

html,
body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

button {
    outline: none;
}

header {
    position: fixed;
    width: 100%;
    background-color: rgb(54, 20, 84);
    transition: .5s all ease;
    z-index: 10;
}

header:hover {
    background-color: #fff;

}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.footerH1 {
    text-align: center;
    color: #fff;
    transition: .5s all ease;

}

.footerH1:hover {
    text-align: center;
    color: rgb(54, 20, 84);
}

main {
    min-height: 1080px;
    background: url('image/mainBG.jpg');
}

.main_content {
    display: flex;
    padding-top: 200px;
    justify-content: space-around;
}

.main_tittle {
    color: #fff;
    text-align: center;
    font-weight: 300;
}

.main_image {
    transform: rotateZ(-12deg);

}

.main_descr {
    font-weight: 300;

    padding-top: 30px;
    color: #fff;
    text-align: center;
    margin: 0 auto;
}

.main_list {
    display: grid;
    padding-top: 20px;
    gap: 10px;
    text-align: center;
}

.main_list li {
    border-radius: 15px;
    padding-top: 5px;
    height: 25px;
    margin: 0 auto;
    width: 380px;
    background-color: #fff;
}

.second {
    min-height: 1080px;
    background: url('image/secondBG.jpg');
}

.secondAdvice {
    display: flex;
    padding-top: 150px;
}

.advice_image {
    width: 700px;
    height: 700px;
}

.advice_title {
    text-align: center;
    margin: 0 auto;
    color: #fff;
}

.advice_rectangle {
    margin: 0 auto;
    margin-top: 50px;
    height: 600px;
    width: 450px;
    border-radius: 15%;
    box-shadow: 0px 0px 0px red, 0em 0 13.5em rgb(108, 24, 108);
    background-color: rgb(255, 255, 255);
}

.advice_descr {
    margin: 0 auto;
    padding-top: 50px;
    width: 350px;
    text-align: center;
    color: rgb(54, 20, 84);
}

.Evgen {
    position: absolute;
    width: 281px;
    transform: translateX(80px);
}

.third {
    min-height: 1080px;
    padding-top: 300px;
    background: url('image/third.jpg');
}

.third_image {
    width: 800px;
    height: 500px;
    transform: rotateZ(-14deg);
}

.thirdAdvice {
    display: flex;
}

.third_title {
    display: flex;
    justify-content: center;
    background-color: rgb(76 50 50);
    box-shadow: 0px 0px 0px red, 0em 0 13.5em rgb(156 21 255);
    width: 335px;
    height: 75px;
    color: #fff;
    text-align: center;
    align-items: center;
    border-radius: 21%;
    margin: 0 auto;
    border: 1px solid #fff;
}

.accordion {
    position: relative;
    display: flex;
    text-align: start;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    width: 400px;
    height: 40px;
    background-color: #fff;
    border-radius: 10px;
}


.accordionOpenFirst,
.accordionOpenSecond,
.accordionOpenThird {
    font-size: 30px;
    padding-right: 10px;
    cursor: pointer;
}

.accordionModalFirst,
.accordionModalSecond,
.accordionModalThird {
    display: none;
    justify-content: center;
    background-color: rgb(76 50 50);
    border-radius: 0px 0px 25px 25px;
    box-shadow: 0px 0px 0px red, 0em 0 1.5em rgb(185 185 185);
    width: 392px;
    height: 100px;
    color: #fff;
    text-align: start;
    align-items: center;
    margin: 0 auto;
    opacity: 0;
}

.flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 80px;
    height: 500px;
}

.openAcc {
    display: flex;
    opacity: 1;
}

.clickTrigger {
    position: absolute;
    right: 0;
    top: -3px;
    transform: rotate(-90deg);
}

.bonus {
    font-weight: 300;
    height: 150px;
    text-align: center;
    font-size: 15px;
    background-color: rgb(54, 20, 84);
    box-shadow: 0px 0px 0px red, 0em 0 1.5em rgb(225, 255, 0);

}

footer {
    min-height: 40px;
    background-color: rgb(54, 20, 84);
    color: #fff;
    transition: .5s all ease;
}

footer h2 {
    text-align: center;
    transition: .5s all ease;

}

footer:hover {
    background-color: #fff;
}

footer h2:hover {
    color: rgb(54, 20, 84)
}